.container-fluid.p-0
    .row
        .col-9
            .card.mb-4
                .card-body.font-weight-bolder(style='font-size: 20pt;') #{data.name}
                .card-body.card-question-body !{data.question}
                    if data.code.samples.length > 0
                     -var tcCount=1
                        each cases, index in data.code.samples
                            .testcase
                                .testcase-input
                                    strong.tclabel Sample Input !{tcCount}:
                                    .pre= cases.input
                                .testcase-output
                                    strong.tclabel Sample Output !{tcCount}: 
                                    .pre= cases.output
                                -tcCount++

                    else
                        div No Sample Test Cases Provided for this question
                       

        .col-3.pl-0
            .card.mb-2.text-center
                .card-header Time Remaining
                if !timeLeft || timeLeft === -1
                    h3.card-body.font-weight-bold Unlimited
                else
                    h3.card-body.font-weight-bold.time-remain 00:00:00
            .card.mb-2.text-center
                .card-header Submission Counts Left
                h3.card-body.font-weight-bold#subCount

    .row
        .col
            .card.mb-4
                .card-header Restrictions
                .card-body
                    .row
                        .col-sm Difficulty: #{data.code.options.difficultyName}
                        .col-sm CPU Time Limit: #{(data.code.options.cpulimit === -1 || data.code.options.cpulimit === 'No Limit') ? "No Limit" : (data.code.options.cpulimit + " seconds")}
                        .col-sm Memory Limit: #{(data.code.options.memlimit === -1 || data.code.options.memlimit === 'No Limit') ? "No Limit" : (data.code.options.memlimit + " MB")}

    .row
        .col
            .card.mb-4
                .card-header.form-group.form-inline
                        label.mr-2(for="name") File Name:
                        input.form-control#name(type='text', placeholder='Filename', required=true, name='filename')
                        label.col-1.mr-2(for="codeSelector") Language:
                        select#codeSelector.custom-select.w-25
                            each editor in codeedit
                                if (enabledLangs.includes(editor.templatekey))
                                    if editor.templatekey === prilang
                                        option(value=editor.templatekey, selected=true)= editor.name
                                    else
                                        option(value=editor.templatekey)= editor.name
                .card-body.card-code-body
                    .col.code-editor-col#codeEditCol
                        +codeEditor('', 2)
                        input(name="code", type="hidden")#codeInput

        
    .row
        .col-9
            //.row
                .col.mt-2
                    .form-group.form-inline
                        label.mr-2(for="name") File Name:
                        input.form-control#name(type='text', placeholder='Filename', required=true, name='filename')
                    label.mr-2(for="codeSelector") Language:
                    select#codeSelector.custom-select.w-75
                        each editor in codeedit
                            if (enabledLangs.includes(editor.templatekey))
                                if editor.templatekey === prilang
                                    option(value=editor.templatekey, selected=true)= editor.name
                                else
                                    option(value=editor.templatekey)= editor.name
            .row.mt-3.collapse.in-shell
                .col
                    textarea#customInput(rows="5").w-100
            .row.mt-2.collapse.in-shell
                .col
                    button.btn.btn-light.button-float-right#submitCustIn(type="button").
                        #[i.fa.fa-play] &nbsp;Custom Input
                    
            
        .col-3
            .row.mt-1.collapse.in-shell
                .col
                    button.btn.btn-primary.button-float-right#submitQuizQn(type="button", style="min-width: 120px;") Submit 
                    button.btn.btn-light.button-float-right.ml-0.ml-xl-2.mt-md-1.mt-xl-0#submitTests(type="button").
                        #[i.fa.fa-play#greenplaybtn] &nbsp;Test Cases
    .row.mt-3
        .col
            .card#testOutput.collapse
                .card-header Test Results
                .card-body
                    - let i = 1, j = 1, k = 1, l = 1;
                    h4.card-title= "Status: "
                        span#outStatus Unknown
                    .container-fluid.p-0
                        .row
                            //.col
                                h5 Output
                                span#outResult.newlinesupport
                        .row
                            .col#outErrCol.d-none
                                h5 Errors
                                span#outErr.color-red.newlinesupport No errors
                    .div.mb-4
                        +loading('', true)
                    .table-responsive#testTable
                        table.table.table-bordered
                            tbody
                                tr
                                    th(scope='row') Test #
                                    while i <= testcount
                                        td= i++
                                tr
                                    th(scope='row') Result
                                    while j <= testcount
                                        td
                                            div(id=`test-result-${j++}`, data-toggle="popover", data-content="Loading...", title="WIP").test-popover
                                                i.fa.fa-check.text-success.test-result-icon
                                                i.fa.fa-times.text-danger.test-result-icon
                                                i.fa.fa-exclamation-triangle.text-warning.test-result-icon
                                                i.fa.fa-question-circle.text-info.test-result-icon
                                                div.spinner-border.spinner-border-sm.text-primary(role="status").test-result-icon
                                tr
                                    th(scope='row') Your Output
                                    while l <= testcount
                                        td
                                            div(id=`test-result-act-out-${l++}`).newlinesupport
                                tr
                                    th(scope='row') Expected Output
                                    while k <= testcount
                                        td
                                            div(id=`test-result-exp-out-${k++}`).newlinesupport
                        script.
                            $(document).ready(() => {
                                $('.test-popover').popover({
                                    trigger: 'hover',
                                    template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body newlinesupport"></div></div>',
                                });
                            });
                    small= "Compile ID: "
                        span#compileID
script.
    let cs = $('#codeSelector');
    function updateFilename(lang) {
        let n = $('#name');
        let inS = $('.in-shell');
        $.ajax({
            url: `/editor/config/${lang}`,
            dataType: 'json',
            async: true,
            success: (data) => {
                let el = data.editLang;
                let needsStuff = false;
                if (el.hasNamedName) {
                    n.prop('required', false);
                    n.prop('disabled', true);
                    n.val(el.defaultFilename);
                } else {
                    if (el.needfilename === 1) needsStuff = true;
                    n.prop('disabled', !needsStuff);
                    n.prop('required', needsStuff);
                    n.val(el.defaultFilename);
                }
                inS.collapse((data.editLang.compilerSupport === 1) ? 'show' : 'hide');
            }
        });
    }
    cs.on('change', (e) => {
        let data = $(e.target);
        setlanguage(`${data.val()}?qid=#{data.id}`, true, null, true);
        updateFilename(`${data.val()}?qid=#{data.id}`);
    });
    // Manually set autocomplete options (whole question affected)
    let hasAC = #{data.code.options.autocomplete === 1};
    let hasMC = #{data.code.options.manualcomplete === 1};
    let codeEditor = ace.edit("codeEditor");
    codeEditor.setOptions({enableBasicAutocompletion: (hasAC || hasMC), enableSnippets: (hasAC || hasMC), enableLiveAutocompletion: (hasAC && !hasMC)})
    let masterKey;
    let codeEditCol = $("#codeEditCol");
    new ResizeObserver(() => codeEditor.resize()).observe(codeEditCol.get(0));
    function refreshOutput(key) {
        if (key !== masterKey) return;
        $('#compileID').text(key);
        $.ajax({
            url: `/editor/progress/${key}`,
            dataType: 'json',
            async: true,
            success: (data) => {
                $("#outStatus").text(data.status);
                if (data.tests) {
                    data.tests.forEach((innerData, i) => {
                        let val = i+1;
                        let div = $(`#test-result-${val}`);
                        div.attr('data-original-title', `${innerData.status}`);
                        let content = "";
                        let eO = $(`#test-result-exp-out-${val}`);
                        let aO = $(`#test-result-act-out-${val}`);
                        aO.text("");
                        if (!data.isgenericerror) {
                            if (innerData.expectedOutput && innerData.expectedOutput !== "-") eO.text(innerData.expectedOutput);
                            if (innerData.actualOutput && innerData.expectedOutput !== "-") aO.text(innerData.actualOutput);
                            if (innerData.expectedOutput === "-") eO.text("Hidden Test Case")
                            if (innerData.errors) content = "Errors: \n" + innerData.errors;
                            else content = "No Errors";
                        } else content = "Test Case Details Disabled";
                        div.attr('data-content', content);
                        div.children('.test-result-icon').hide();
                        switch (innerData.state) {
                            case 2:
                            case 3:
                            case 7:
                            case 4: div.children('.spinner-border').show(); break;
                            case 5: div.children('.fa-check').show(); break;
                            case -6: div.children('.fa-times').show(); break;
                            case -1:
                            case -2:
                            case -3:
                            case -4:
                            case -7:
                            case -5: div.children('.fa-exclamation-triangle').show(); break;
                            case 0:
                            case 1:
                            default: div.children('.fa-question-circle').show(); break;
                        }
                    })
                }
                if (!data.completed) setTimeout(() => {refreshOutput(key);}, 500);
                else {
                    $("#loading").hide();
                    $("#outResult").text(data.result.stdout);
                    if (data.result.stderr || data.result.error) {
                        let result = data.result.stderr;
                        if (result) result += "\n";
                        result += data.result.error;
                        $("#outErr").text(result);
                        $("#outErrCol").removeClass("d-none");
                    }
                }
            }
        });
    }
    function getEditorData() {
        let editor = ace.edit("codeEditor");
        return {language: cs.val(), input: $("#customInput").val(), filename: $("#name").val(), code: editor.session.getValue()};
    }
    codeEditor.on('change', () => $("#codeInput").val(JSON.stringify(getEditorData())));
    $('#submitTests').click(() => {
        let theData = getEditorData();
        $("#loading").show();
        $("#outStatus").text("Sending to Server");
        $("#outResult").text("");
        $("#outErr").text("");
        let outcol = $("#outErrCol");
        if (!outcol.hasClass("d-none")) outcol.addClass("d-none");
        $("#testOutput").collapse('show');
        $("#testTable").show();
        $('html, body').animate({ scrollTop: $(document).height() }, 1200);
        $.ajax({
            url: `/editor/compile/tests/#{data.id}`,
            type: 'post',
            data: theData,
            dataType: 'json',
            async: true,
            success: (data) => {
                if (data.success) {
                    masterKey = data.output;
                    refreshOutput(data.output);
                } else {
                    $("#outStatus").text(data.status);
                    $("#outResult").text("See errors below for more information");
                    $("#outErr").text(data.output);
                    $('.test-popover').children('.test-result-icon').hide();
                    outcol.removeClass("invisible");
                    $("#loading").hide();
                }
            }
        });
    });
    $('#submitCustIn').click(() => {
        let theData = getEditorData();
        $("#loading").show();
        $("#outStatus").text("Sending to Server");
        $("#outResult").text("");
        $("#outErr").text("");
        let outcol = $("#outErrCol");
        if (!outcol.hasClass("d-none")) outcol.addClass("d-none");
        $("#testTable").hide();
        $("#testOutput").collapse('show');
        $('html, body').animate({ scrollTop: $(document).height() }, 1200);
        $.ajax({
            url: `/editor/compile/practice`,
            type: 'post',
            data: theData,
            dataType: 'json',
            async: true,
            success: (data) => {
                if (data.success) {
                    masterKey = data.output;
                    refreshOutput(data.output);
                }
                else {
                    $("#outStatus").text(data.status);
                    $("#outResult").text("See errors below for more information");
                    $("#outErr").text(data.output);
                    outcol.removeClass("invisible");
                    $("#loading").hide();
                }
            }
        });
    });

if (!existingcode)
    script.
        setlanguage(`${cs.val()}?qid=#{data.id}`, true, null, true);
        updateFilename(`${cs.val()}?qid=#{data.id}`);
else
    script.
        let existingData = !{existingcode};
        let editors = ace.edit("codeEditor");
        let ns = $('#name');
        let inSs = $('.in-shell');
        ns.val(existingData.filename);
        editors.session.setValue(existingData.code);
        $.ajax({
            url: `/editor/config/${existingData.language}?qid=#{data.id}`,
            dataType: 'json',
            async: true,
            success: (datas) => {
                console.log(`Switching to ${datas.type}`);
                editors.session.setMode(`ace/mode/${datas.type}`);
                let els = datas.editLang;
                let needsStuff = false;
                if (els.hasNamedName) {
                    ns.prop('required', false);
                    ns.prop('disabled', true);
                } else {
                    if (els.needfilename === 1) needsStuff = true;
                    ns.prop('disabled', !needsStuff);
                    ns.prop('required', needsStuff);
                }
                inSs.collapse((datas.editLang.compilerSupport === 1) ? 'show' : 'hide');
                refreshCodeCall(datas.editLang.locked);
            }
        });