extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1= `[${info.code}] ${info.name}`
    p Select a quiz to take from the list below

    +successerror(sucmsg, errmsg)

    table#quizTable.table.w-100

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let table;
            let buttons = [
                {
                    text: 'Show All',
                    action: (e, dt, button) => {
                        if (table.column(6).search() === 'true') {
                            button.text('Show Active Only');
                            table.column(6).search('').draw();
                        } else {
                            button.text('Show All');
                            table.column(6).search('true').draw();
                        }
                    }
                },
                {
                    text: 'Exit Student View',
                    className: 'btn-danger',
                    action: () => {window.location.href = '/course/info/#{info.id}?edit=1'}
                }
                ];
            if (#{!hasPermission('editcourse')}) buttons.splice(1, 1);
            table = $('#quizTable').DataTable({
                ajax: '/course/info/#{info.id}/data',
                dom: 'Brftilp',
                buttons: buttons,
                select: 'single',
                responsive: true,
                columns: [
                    { title: "Quiz Name", data: 'name'},
                    { title: "Description", data: 'desc'},
                    { title: "Start Time", data: null, render: (data) => { return moment(new Date(data.ts)).format('DD MMMM YYYY HH:mm'); }},
                    { title: "End Time", data: null, render: (data) => { return (data.te) ? moment(new Date(data.te)).format('DD MMMM YYYY HH:mm') : 'No End Date'; }},
                    { title: "Time Limit", data: 'tl'},
                    { title: "Attempts", data: null, render: (data) => { return (data.attempts === "Unlimited") ? "Unlimited" : `${data.attempted}/${data.attempts}` }},
                    { title: "isactive", data: 'isActive', visible: false },
                    {
                        title: "Available", data: null, render: (data) => {
                            return (data.isActive) ? "<i class='fad fa-check-circle text-success fa-lg'></i>" : "<i class='fad fa-times-circle text-danger fa-lg'></i>";
                        }, visible: true
                    },
                    {
                        title: "Enter Quiz",
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        render: (data) => {
                            let disStart = `/course/info/${data.courseid}/${data.id}/start`;
                            let disClass = ``;
                            if (!data.isActive) {
                                disStart = '#';
                                disClass = 'disabled';
                            }
                            return `<a href="${disStart}" class="btn btn-outline-info ${disClass}" data-toggle="tooltip" title="Enter Quiz" data-placement="bottom"><i class="fa fa-arrow-right"></i></a>`;
                        },
                    }
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('select', (e,dt,type,indexes) => {
                let rowData = table.rows( indexes ).data().toArray()[0];
                if (!rowData.isActive) return; // Don't do anything if it is not active
                window.location.href = `/course/info/${rowData.courseid}/${rowData.id}/start`;
            });
            table.on('init', () => table.column(6).search('true').draw()); // Show only active items
            table.on('draw', () => MathJax.typesetPromise())
        });
