extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Select Quiz
    span To view feedbacks, select a quiz in the following table

    +successerror(sucmsg, '')

    div#inlinepotato
    button.btn.btn-secondary(type='button' onclick='goBack()')#btnPrevQn #[i.far.fa-chevron-left] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back

    table#feedbackTable.table.w-100.clickable

    include ../meta/datatables
    include ../meta/momentjs

    script.
        $(document).ready(() => {
            let buttons = [
                
                ];
            let table = $('#feedbackTable').DataTable({
                ajax: '/survey/listfbcourses/#{courseid}/quizzes',
                dom: 'Brftilp',
                buttons: buttons,
                responsive: true,
                select: 'single',
                deferRender: true,
                columns: [
                    { title: "Quiz Name", data: 'name'},
                    { title: "Description", data: 'desc'},
                    { title: "Start Time", data: null, render: (data) => { return moment(new Date(data.ts)).format('DD MMMM YYYY HH:mm'); }},
                    { title: "End Time", data: null, render: (data) => { return (data.te) ? moment(new Date(data.te)).format('DD MMMM YYYY HH:mm') : 'No End Date'; }},
                    { title: "Feedbacks", data: 'feedbackscount'},
                ]
            });

            table.on('draw', () => MathJax.typesetPromise())

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });

            function showDismissableAlert(type, message) {
                $('#inlinepotato').append(`<div id="myalert" class="alert ${type} alert-dismissible fade show" role="alert">
                                  ${message}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`);
                window.setTimeout(() => {
                    $('#myalert').alert('close');
                }, 3000);
            }

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('select', (e,dt,type,indexes) => {
                let rowData = table.rows( indexes ).data().toArray()[0];
                window.location.href = `/survey/listfbquizzes/${rowData.id}`;
            });
            table.on('draw', () => MathJax.typesetPromise())
        });

        function goBack() {
            window.history.back();
            }
