link(href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", rel='stylesheet', type='text/css')
script(src="https://cdn.jsdelivr.net/npm/flatpickr")

script.
    (function () {
        'use strict';
        let datechk = $('[type="date"]');
        if (datechk.prop('type') !== 'date') {
            datechk.flatpickr({enableTime: false, allowInput: true, dateFormat: 'Y-m-d', altFormat: 'd/m/Y', altInput: true });
        }
    })();