- const editorFP = editorFPRaw || ""

script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")
script(src=`https://cdn.tiny.cloud/1/${config.tinymce}/tinymce/5/tinymce.min.js`, referrerpolicy='origin')
script.
    let url = `/data/editorImgUpload?fp=#{editorFP}`;
    tinymce.init({
        selector: 'textarea.rich',
        height: 350,
        menubar: false,
        external_plugins: {'tiny_mce_wiris' : '/mathtype-tinymce5/plugin.min.js'},
        plugins: 'code codesample autosave emoticons lists link table visualchars wordcount image imagetools paste',
        toolbar: 'cut copy paste | undo redo | forecolor backcolor styleselect bold italic visualchars | alignleft aligncenter alignright | bullist numlist outdent indent | table | ' +
            'link emoticons | restoredraft code wordcount image codesample tiny_mce_wiris_formulaEditor',
        table_toolbar: 'tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol',
        contextmenu: 'link image imagetools list spellchecker table',
        browser_spellcheck: true,
        image_advtab: true,
        image_uploadtab: true,
        images_upload_url: url,
        paste_data_images: true,
        setup: editor => {
            // Apply the focus effect
            editor.on("init", () => {editor.getContainer().style.transition = "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";});
            editor.on("focus", () => {editor.getContainer().style.boxShadow = "0 0 0 .2rem rgba(0, 123, 255, .25)"; editor.getContainer().style.borderColor = "#80bdff";});
            editor.on("blur", () => {editor.getContainer().style.boxShadow = ""; editor.getContainer().style.borderColor = "";});
            editor.on("change", editor.save);
        }
    });