extends layouts/navbar
include components/successerrorbox
include components/loading

block content
    // This is used as a drawing board in a sense for various features
    h2 Test Page
    +successerror(sucmsg, errmsg)