.row
    .col.pr-1
        .card.mb-4
            .card-header#qnsConfig Question Configuration
            .card-body#qnsConfigChild.test-case-height
                .newlinesupport Random Answers: !{(data.mcq.config.randomanswers)? "Yes" : "No"}
                br
                .newlinesupport Style: !{(data.mcq.config.style)? "Single-Correct Answer" : "Multiple-Correct Answers"}
                

.row
    .col
        .card.mb-4
            .card-header#choice Choice
            .card-body#choiceChild
                table.table.text-center
                    thead
                        th(scope='col') Answer
                        th(scope='col') Correct
                        th(scope='col') Rationale
                        th(scope='col') Score
                    tbody
                        each c in data.mcq.choices
                            tr
                                td.newlinesupport= c.answer.replace(/(<([^>]+)>)/ig,"")
                                td
                                    if (c.iscorrect)
                                        i.fad.fa-check-circle.text-success.fa-lg
                                    else
                                        i.fad.fa-times-circle.text-danger.fa-lg
                                td= c.rationale.replace(/(<([^>]+)>)/ig,"")
                                td= (c.score || c.score > 0) ? c.score : 0
                                //td= (c.score) ? c.score : "Based on max score"
                                
    script.
        $("#qnsConfig").click(() => $("#cfbChild").collapse('toggle'));