.row
    .col.pr-1
        .card.mb-4
            .card-header#cfb Correct Feedback
            .card-body#cfbChild.test-case-height
                .newlinesupport !{data.structured.feedback.correctFeedback}
    .col.pl-1
        .card.mb-4
            .card-header#wfb Wrong Feedback
            .card-body#wfbChild.test-case-height
                .newlinesupport !{data.structured.feedback.wrongFeedback}

.row
    .col
        .card.mb-4
            .card-header#keyword Keywords
            .card-body#keywordChild
                table.table.text-center
                    thead
                        th(scope='col') Keyword/Phrase
                        th(scope='col') Occurance to count
                        th(scope='col') Score
                        th(scope='col') Case-Sensitive Match
                    tbody
                        each keyword in data.structured.keywords
                            tr
                                td.newlinesupport= keyword.keyword
                                td= keyword.occurance
                                td= (keyword.score) ? keyword.score : "Based on max score"
                                td
                                    if (keyword.casesensitive)
                                        i.fad.fa-check-circle.text-success.fa-lg
                                    else
                                        i.fad.fa-times-circle.text-danger.fa-lg
    script.
        $("#cfb").click(() => $("#cfbChild").collapse('toggle'));
        $("#wfb").click(() => $("#wfbChild").collapse('toggle'));