extends ../layouts/plain

block content
    .text-center
        h1 Setup Complete
        p Application setup has completed. You can now go back to the login screen and login with the newly created admin account!
        p
            b PLEASE MAKE SURE THE ENVIRONMENT VARIABLE "SETUP" IS REMOVED BEFORE THIS IS DEPLOYED
        a.btn.btn-primary(href='/') Back to Login