extends ../layouts/plain
include ../components/loading

block content
    .text-center
        h1 Populating Default Data
        +loading()

        a.mt-5.btn.btn-success.disabled#goon(href='/setup/createadmin') Continue
    script.
        function poll() {
            let loadingBar = $('#loadingtext');
            $.ajax({
                url: '/setup/status',
                dataType: 'json',
                async: true,
                success: (data) => {
                    loadingBar.text(data.msg);
                    console.log(data);
                    if (data.fin === "true") {
                        $('#goon').removeClass('disabled');
                        $('#loading').hide();
                    }
                    else setTimeout(poll,100);
                }
            })
        }
        $(document).ready(() => {poll();});
