extends ../layouts/navbar
include ../components/successerrorbox

block content
    h2 Change Password
    +successerror(sucmsg, errmsg)
    form(action='/changepassword', method='post', novalidate=true).needs-validation
        .form-group
            label(for='username') Username
            input.form-control#username(type='text', placeholder='Username', required=true, name='username', disabled=true, value=`${username}`)
            div.invalid-feedback Please fill in a username
        .form-group.required
            label(for='oldpw') Old Password
            input.form-control#oldpw(type='password', placeholder='Password', required=true, name='password')
            div.invalid-feedback Invalid Password
        .form-group.required
            label(for='newpw') New Password
            input.form-control#newpw(type='password', placeholder='Password', required=true, pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+*!=]).{8,}", name='newpw')
            small.form-text.text-muted Min 8 characters, and must have an upper and lowercase character, number and symbol
            div.invalid-feedback Please make sure your password is at least 8 characters, and contain at least an upper and lowercase character, number and symbol
        .form-group.required
            label(for='cfmpw') Repeat New Password
            input.form-control#cfmpw(type='password', placeholder='Password', required=true)
            small.form-text.text-muted Make sure it matches what you type above
            div.invalid-feedback Passwords do not match!
        button.btn.btn-primary(type='submit') Change Password
        script.
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    let forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);

                let cfmpw = $('#cfmpw');
                $('#newpw, #cfmpw').on('keyup', function () {
                    if ($('#newpw').val() === cfmpw.val()) {
                        cfmpw.removeClass('is-invalid');
                        cfmpw[0].setCustomValidity('');
                    } else {
                        cfmpw.addClass('is-invalid');
                        cfmpw[0].setCustomValidity('Password must match');
                    }
                });
            })();
