extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 Create New Quiz
    +successerror(sucmsg, errmsg)

    form(action=`/course/info/${courseid}/add`, method='post', novalidate=true).needs-validation.mt-3
        .container-fluid.p-0
            .row
                .col
                    .form-group.required
                        label(for='name') Quiz Name
                        input.form-control#name(type='text', placeholder='Quiz Name', required=true, name='name')
                        div.invalid-feedback Course Name is required
                .col-3
                    .form-group.required
                        label(for='quizType') Quiz Type
                        select.form-control#quizType(required=true, name='quizType')
                            option(value="0", selected=true) Quiz
                            option(value="1") Assignment (No Duration)
                            option(value="2") Practice (No Duration/Attempts)
            .row
                .col
                    .form-group
                        label(for='desc') Quiz Description
                        textarea.form-control.rich#desc(name='desc')

        button.btn.btn-primary(type='submit') Create
        a.btn.btn-danger.ml-2(href=`/course/info/${courseid}?edit=1`) Cancel

        include ../meta/richtexteditor
        include ../meta/formvalidation
