extends ../layouts/navbar
include ../components/successerrorbox

block content
    h2 Quiz Submitted Successfully!
    +successerror(sucmsg, errmsg)
    p Your quiz has been successfully submitted!
    //- include ../survey/form
    .modalcontainer
        // Trigger the modal with a button
        button.open.btn.btn-info.btn-lg(type='button' data-toggle='modal' data-target='#SurveyModal' style='display: none;') Open Modal
        // Modal
        #SurveyModal.modal.fade(role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header.text-align-center.text-center
                        button.close(type='button' data-dismiss='modal') ×
                        h4.modal-title Quiz Experience Survey
                    .modal-body.text-align-center.text-center
                        include ../survey/form

    h4.mt-5 Submission Details
    p Submission ID:
        span= ` #${submissionData.quizattemptid}`
    p Submission Date:
        span= ` ${submissionData.submitteddate}`
    p Time Taken:
        span= ` ${submissionData.durationString}`
    p Quiz:
        span= ` ${submissionData.quizname}`
    p Course:
        span= ` [${submissionData.code}] ${submissionData.coursename}`
    .btn-group(role="group", aria-label="Toolbar").mt-4.float-right
        if (submissionData.showgrade === 1 || submissionData.studentreport === 1)
            a(href=`/attempt/${submissionData.quizattemptid}/getReportStudentAttempt`).btn.btn-secondary View Results
        a(href=`/course/info/${submissionData.courseid}`).btn.btn-primary#btnCoursePage Back to Course Page

                script.
                    $(document).ready(function(){
                        $('.open').click(); 
                    })
                    // Prevent F5 key from refreshing
                    function disableF5(e) { if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82) e.preventDefault(); };
                    $(document).ready(function(){
                        $(document).on("keydown", disableF5);
                    });

    style. 
        #btnCoursePage {
        min-width: 10%;
        color: #FFF;
        background-color: #5f5ff6;
        border-color: #4949e7;
        }

        #btnCoursePage:hover {
        color: #FFF;
        background-color: #6775f7;
        border-color: #5f5ff6;
        }

        #btnCoursePage:focus, #btnSubmitFeedback.focus {
        -webkit-box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.5);
                box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.5);
        }

        #btnCoursePage.disabled, #btnCoursePage:disabled {
        color: #FFF;
        background-color: #7f7feb;
        border-color: #5f5ff6;
        }

        #btnCoursePage:not(:disabled):not(.disabled):active, #btnCoursePage:not(:disabled):not(.disabled).active,
        .show > #btnCoursePage.dropdown-toggle {
        color: #FFF;
        background-color: #7272f7;
        border-color: #2a74e4;
        }

        #btnCoursePage:not(:disabled):not(.disabled):active:focus, #btnSubmitFeedback:not(:disabled):not(.disabled).active:focus,
        .show > #btnCoursePage.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.5);
                box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.5);
        }
