extends ../layouts/navbar
include ../components/successerrorbox

block content
    if adminMode
        h1 Manage Question Banks (Admin)
    else
        h1 Manage Question Banks
    p Note that you can filter topics or purposes with the search box

    +successerror(sucmsg, errmsg)

    table#bankTable.table.w-100.clickable

    include ../meta/datatables

    script.
        $(document).ready(() => {
            let table;
            let buttons = [
                {
                    text: 'New Question Bank',
                    action: () => {window.location.href = '/questions/add'}
                }
                ];
            table = $('#bankTable').DataTable({
                ajax: '#{dataLink}',
                dom: 'Brftilp',
                buttons: buttons,
                select: 'single',
                responsive: true,
                orderCellsTop: true,
                deferRender: true,
                fixedHeader: true,
                columns: [
                    { title: "Name", data: 'name'},
                    { title: "Topic", data: 'topic'},
                    { title: "Purpose", data: 'purpose'},
                    { title: "Actions",
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        render: (data) => {
                            return `<a href="/questions/edit/${data.id}" class="btn btn-outline-secondary" data-toggle="tooltip" title="Edit Question Bank" data-placement="bottom"><i class="fa fa-edit"></i></a>` +
                                `<button class="btn btn-outline-secondary dropdown-toggle ml-1" type="button" id="ddm-add-${data.id}" title="Add Question to Bank (WIP)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i></button> ` +
                                `<div class="dropdown-menu" aria-labelledby="ddm-add-${data.id}"><a class="dropdown-item" href="/questions/info/${data.id}/add/mcq">Multiple Choice</a>` +
                                `<a class="dropdown-item" href="/questions/info/${data.id}/add/structured">Structured</a><a class="dropdown-item" href="/questions/info/${data.id}/add/code">Code</a>` +
                                `<a class="dropdown-item disabled" href="/questions/info/${data.id}/add/math">Math (WIP)</a></div> `;
                        },
                    }
                ]
            });

            $("body").tooltip({ selector: '[data-toggle=tooltip]', trigger: 'hover' });
            table.on('user-select', (e,dt,type,indexes,origEvt) => {if ($(origEvt.target).is(":button") || $(origEvt.target).hasClass('details-control')) e.preventDefault();});
            table.on('select', (e, dt, type, indexes) => {let rowData = table.rows(indexes).data().toArray()[0];window.location.href = `/questions/info/${rowData.id}`;});
            table.on('draw', () => MathJax.typesetPromise())
        });
