extends ../layouts/navbar
include ../components/successerrorbox

block content
    h1 View Question (#{data.name})
    +successerror(sucmsg, errmsg)
    .btn-group.mb-2
        a.btn.btn-secondary(href=`/questions/info/${data.questionbankid}`) Go Back
        if permToEdit===true
            a.btn.btn-warning(href=`/questions/info/${data.questionbankid}/edit/${data.id}?red=qninfo`) Edit Question
        else
            span.d-inline-block(tabindex='0' data-toggle='tooltip' title='Only the author can edit the question')
                button.btn.btn-warning(style='pointer-events: none;' type='button' disabled='') Edit Question
            a.btn.btn-warning(href=`/questions/info/${data.questionbankid}/clone/${data.id}?red=qninfo` data-toggle='tooltip' data-placement='top' title='Clone this question to edit it' ) Clone Question

    .container-fluid.p-0
        .row
            .col.pr-0
                .card.mb-4
                    .card-header Question
                    .card-body !{data.question}
                        if data.codesamplessize.length > 0
                        -var tcCount=1
                            each cases, index in data.codesamplessize
                                .testcase
                                    .testcase-input
                                        strong.tclabel Sample Input !{tcCount}:
                                        .pre= cases.input
                                    .testcase-output
                                        strong.tclabel Sample Output !{tcCount}: 
                                        .pre= cases.output
                                    -tcCount++
            .col-3.pl-0
                case data.type
                    when 1
                        include type/listoptmcq
                    when 2
                        include type/listoptstruct
                    when 3
                        include type/listoptcode

        // 1 - MCQ
        // 2 - Short Structured
        // 3 - Code
        case data.type
            when 1
                include type/listmcq
            when 2
                include type/liststruct
            when 3
                include type/listcode